<html>
    <head>
        <link rel="stylesheet" href="/syle/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>Hello 404</h1>
        </div>

        {{>footer}}
    </body>
</html>