<html>
    <head>
        <link rel="stylesheet" href="/syle/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Hello</p>
        </div>
        
        {{>footer}}
    </body>
</html>