<html>
    <head>
        <title>Help Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/syle/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>Hello {{name}}</h1>
        </div>
        {{>footer}}
    </body>
</html>