<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/syle/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> use this site for your weather!</p>

            <form id='frm1'>
                <input placeholder="location">
                <button>Search</button>
            </form>

            <p id='msg1'>
                
            </p>
            <p id='msg2'>

            </p>
        
        <script src="/js/client.js"></script>
        <!-- put it in last, so that it runs at the end-->
        </div>
        {{>footer}}
    </body>
</html>